<app-modal
  title="Confirm Logout"
  message="Are you sure you want to logout?"
  (success)="logout()"
></app-modal>
<nav class="navbar navbar-dark bg-primary px-4 position-fixed z-3 w-100 py-0">
  <div class="d-flex align-items-center justify-content-between flex-grow-1">
    <div class="navbar-item">
      <a routerLink="/"
        ><img class="logo-img" src="../../../assets/New logo_white.png"/>
      /></a>
    </div>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item d-flex">
        <span
          class="nav-link me-3"
          routerLink="/order-upload"
          data-bs-toggle="tooltip"
          data-bs-title="Upload Order"
        >
          <i class="material-icons">file_upload</i>
        </span>
        <a
          class="nav-link me-3 position-relative"
          routerLink="/cart"
          data-bs-toggle="tooltip"
          data-bs-title="Cart"
        >
          <i class="material-icons">shopping_cart</i>
          <span
            *ngIf="totalCartItems"
            class="position-absolute start-100 translate-middle badge rounded-pill border-white nav-color"
          >
            {{ totalCartItems }}
            <span class="visually-hidden"></span>
          </span>
        </a>
        <a
          class="nav-link"
          (click)="openLogoutConfirmationModal()"
          *ngIf="authService.isLoggedIn(); else loginButton"
          data-bs-toggle="tooltip"
          data-bs-title="Logout"
        >
          <i class="material-icons">logout</i>
        </a>
        <ng-template #loginButton>
          <a
            class="nav-link"
            routerLink="/login"
            data-bs-toggle="tooltip"
            data-bs-title="Login"
          >
            <i class="material-icons">login</i>
          </a>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>
