.nav-color {
  background-color: #fff;
  color: black;
  font-size: 11px;
}
.logo-img {
  height: 50px;
}
.cursor-pointer {
  cursor: pointer;
}
ul.logout-dropdown {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(-100px, 45px, 0px);
}
