<nav
  class="navbar navbar-dark bg-primary px-md-2 px-1 position-fixed z-3 w-100 py-0"
>
  <div class="d-flex align-items-center justify-content-between flex-grow-1">
    <div class="navbar-item">
      <a routerLink="/"
        ><img class="logo-img" src="../../../assets/New logo_white.png"
      /></a>
    </div>
    <ul class="navbar-nav flex-row ms-auto">
      <li class="nav-item d-flex">
        <a
          class="nav-link text-white me-4"
          routerLink="/order-upload"
          data-bs-toggle="tooltip"
          data-bs-title="Upload Order"
          data-bs-placement="bottom"
        >
          <i class="material-icons">file_upload</i>
        </a>
      </li>
      <li>
        <a
          class="nav-link text-white me-4 position-relative"
          routerLink="/cart"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="Cart"
        >
          <i class="material-icons">shopping_cart</i>
          <span
            *ngIf="totalCartItems"
            class="position-absolute start-75 translate-middle badge rounded-pill border-white nav-color"
          >
            {{ totalCartItems > 99 ? "99+" : totalCartItems }}
            <span class="visually-hidden"></span>
          </span>
        </a>
      </li>
      <li
        class="nav-item btn-group me-2 dropdown position-relative d-flex align-items-center"
        *ngIf="authService.isLoggedIn(); else loginButton"
      >
        <span
          class="nav-link text-white fs-6 fw-normal cursor-pointer text-uppercase d-inline-block"
          (click)="modal?.open()"
          >Logout
        </span>
        <!-- <button
          type="button"
          role="button"
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i
            class="material-icons text-white"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="Profile"
            >person</i
          >
        </button> -->
        <ul class="dropdown-menu dropdown-menu-right logout-dropdown">
          <li class="dropdown-item disabled">
            {{ user?.name }}
          </li>
          <li class="dropdown-item cursor-pointer" (click)="modal?.open()">
            Logout
          </li>
        </ul>
      </li>
      <ng-template #loginButton>
        <li class="nav-item me-2 d-flex align-items-center">
          <a
            class="nav-link text-white"
            routerLink="/login"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-title="Login"
          >
            <span class="fs-6 fw-normal text-uppercase">Login</span>
            <!-- <i class="material-icons">login</i> -->
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
<app-modal
  title="Confirm Logout"
  message="Are you sure, you want to logout?"
  (success)="logout()"
></app-modal>
