.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.filters-container {
  height: 100vh;
  position: fixed;
  top: 50px;
  left: 0px;
  width: 100%;
  height: calc(100vh - 50px);
  z-index: 10;
}
@media (min-width: 768px) {
  .filters-container {
    position: static;
  }
}

.filter-btn {
  bottom: 0px;
}
