<div
  class="filters-container overflow-y-scroll d-md-block bg-white p-3 ps-4"
  [ngClass]="{ 'd-none': !showFilter }"
>
  <div class="d-flex align-items-center justify-content-between">
    <div class="my-2 text-primary text-uppercase fw-bold">Filters</div>
    <div class="d-flex">
      <button
        *ngIf="isFitersApplied()"
        class="btn btn-outline-primary btn-sm me-2 px-2 py-1 d-flex align-items-center"
        (click)="clearFilters()"
      >
        <span>CLEAR</span>
      </button>
      <button
        class="btn btn-outline-primary btn-sm me-2 px-2 py-1 d-flex align-items-center d-md-none"
        (click)="hideFilters()"
      >
        <span>APPLY & CLOSE</span>
      </button>
    </div>
  </div>
  <div>
    <span class="mb-2 fw-bold">Gender</span>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="gender"
        id="Men"
        value="Men"
        (change)="handleChange($event.target)"
        [checked]="filters?.gender === 'Men'"
      />
      <label class="form-check-label" for="Men"> Men </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="gender"
        id="Women"
        value="Women"
        (change)="handleChange($event.target)"
        [checked]="filters?.gender === 'Women'"
      />
      <label class="form-check-label" for="Women"> Women </label>
    </div>
  </div>
  <div class="mt-3">
    <div class="mb-2 fw-bold">Categories</div>
    <app-checkbox-group
      name="category"
      [options]="categories"
      [checkedOptions]="filters?.category"
      (checkboxChange)="handleChange($event)"
    >
    </app-checkbox-group>
  </div>
  <div class="mt-3">
    <div class="mb-2 fw-bold">Brand</div>
    <app-checkbox-group
      name="brand"
      [options]="brands"
      [checkedOptions]="filters?.brand"
      (checkboxChange)="handleChange($event)"
    >
    </app-checkbox-group>
  </div>
</div>
