img{
  height: 100%;
  width: 100%;
  &:hover{
    transform: scale(1.05);
    transition: all 500ms;
  }
}
.img{
  height: 25em;
  width: 100%;
  overflow: hidden;
  cursor:-webkit-zoom-in;
}
.material-icons{
  vertical-align:bottom;
}
.btn{
  padding: 0.75rem;
}
