<app-modal
  title="Remove Item"
  message="Are you sure to remove item from the cart ?"
  (success)="removeCartItem()"
></app-modal>
<div class="row">
  <div class="col-lg-7 row g-2 mt-0">
    <div class="col-6" *ngFor="let image of product?.images">
      <div class="img">
        <img [src]="image.src" />
      </div>
    </div>
  </div>
  <div class="col-lg-5 ps-4">
    <h2>{{ product?.name }}</h2>
    <div class="border border-secondary-subtle d-inline-block px-2">
      <span class="me-2 border-end border-secondary-subtle pe-2 d-inline-block">
        <i
          class="material-icons me-1"
          [style]="{ color: getColor(product?.rating!) }"
        >
          star
        </i>
        <span>{{ product?.rating | number : "1.1-1" }}</span>
      </span>
      <span>{{ product?.reviews }} Ratings</span>
    </div>
    <hr />
    <h6 class="text-secondary py-2">Category: {{ product?.category }}</h6>
    <div>
      <b *ngIf="product?.discount" class="fs-4 me-2">
        <b>₹</b> {{ product?.price }}
      </b>
      <span class="text-secondary align-text-bottom"
        >MRP<del>{{ product?.mrp }}</del>
        <span class="ms-1 text-danger ms-2">{{
          product?.discountDisplayLabel
        }}</span>
      </span>
    </div>
    <div class="d-flex align-items-center my-3">
      <i class="material-icons me-3"> shopping_cart </i>
      <select
        class="form-select w-25 h-25"
        [value]="quantity"
        (change)="updateQuantity($event)"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <button
      class="btn btn-primary w-75"
      *ngIf="cartItem; else addToCart"
      routerLink="/cart"
    >
      <i class="material-icons"> shopping_cart </i>
      GO TO CART
    </button>
    <ng-template #addToCart>
      <button class="btn btn-primary w-75" (click)="addItem()">
        <i class="material-icons">shopping_cart</i>
        ADD TO CART
      </button>
    </ng-template>
    <button
      class="btn btn-outline-primary ms-2"
      [disabled]="!this.cartItem"
      (click)="openConfirmationModal()"
    >
      REMOVE
    </button>
    <div class="my-3 lh-lg">
      100% Original Products<br />
      Pay on delivery might be available<br />
      Easy 14 days returns and exchanges<br />
    </div>
  </div>
</div>
