.img{
  height: 100%;
  width: 100%;
  &:hover{
    transform: scale(1.05);
    transition: all 500ms;
  }
}
.img-container{
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1;
  cursor:-webkit-zoom-in;
}
.material-icons{
  vertical-align:bottom;
}
.btn{
  padding: 0.75rem;
}
// img{
//   aspect-ratio: 0.8;
// }
