<app-modal
  title="Remove Item"
  message="Are you sure to remove item from the cart ?"
  (success)="removeCartItem()"
></app-modal>
<div class="row px-2">
  <div class="col-md-7 row g-2 mt-0 justify-content-center">
    <div
      class="col-12 d-none d-md-block col-md-6"
      *ngFor="let image of product?.images"
    >
      <div class="img-container">
        <img [src]="image.src" class="img" />
      </div>
    </div>
    <div id="carousel" class="carousel slide justify-content-center d-md-none">
      <div class="carousel-indicators">
        <button
          *ngFor="let image of product?.images; let i = index"
          type="button"
          data-bs-target="#carousel"
          [attr.data-bs-slide-to]="i"
          [ngClass]="{ active: i === 0 }"
        ></button>
      </div>
      <div class="carousel-inner">
        <div
          *ngFor="let image of product?.images; let i = index"
          class="carousel-item"
          [ngClass]="{ active: i === 0 }"
        >
          <img [src]="image.src" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-md-5 ps-md-4 pt-4 pt-md-0">
    <h2>{{ product?.name }}</h2>
    <div class="border border-secondary-subtle d-inline-block px-2">
      <span class="me-2 border-end border-secondary-subtle pe-2 d-inline-block">
        <i
          class="material-icons me-1"
          [style]="{ color: getColor(product?.rating!) }"
        >
          star
        </i>
        <span>{{ product?.rating | number : "1.1-1" }}</span>
      </span>
      <span>{{ product?.reviews }} Ratings</span>
    </div>
    <hr />
    <h6 class="text-secondary py-2">Category: {{ product?.category }}</h6>
    <div>
      <b *ngIf="product?.discount" class="fs-4 me-2">
        <b>₹</b> {{ product?.price }}
      </b>
      <span class="text-secondary align-text-bottom"
        >MRP<del>{{ product?.mrp }}</del>
        <span class="ms-1 text-danger ms-2">{{
          product?.discountDisplayLabel
        }}</span>
      </span>
    </div>
    <div class="d-flex align-items-center my-3">
      <i class="material-icons me-3"> shopping_cart </i>
      <select
        class="form-select w-25 h-25"
        [value]="quantity"
        (change)="updateQuantity($event)"
      >
        <option *ngFor="let option of options" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="row">
      <button
        class="btn btn-primary col-9"
        *ngIf="cartItem; else addToCart"
        routerLink="/cart"
      >
        <i class="material-icons"> shopping_cart </i>
        GO TO CART
      </button>
      <ng-template #addToCart>
        <button class="btn btn-primary w-75" (click)="addItem()">
          <i class="material-icons">shopping_cart</i>
          ADD TO CART
        </button>
      </ng-template>
      <div class="col-3 ps-2">
        <button
          class="btn btn-outline-primary"
          [disabled]="!cartItem"
          (click)="openConfirmationModal()"
        >
          REMOVE
        </button>
      </div>
    </div>
    <div class="my-3 lh-lg">
      100% Original Products<br />
      Pay on delivery might be available<br />
      Easy 14 days returns and exchanges<br />
    </div>
  </div>
</div>
