<div class="row">
  <div class="col-lg-6 d-flex justify-content-center">
    <img [src]="product?.imageUrl" />
  </div>
  <div class="col-lg-6">
    <h1>{{ product?.name }}</h1>
    <div class="d-flex align-items-center pt-3 pb-0">
      <h3 class="me-3">Rs. {{ product?.mrp }}</h3>
      <h6 class="text-secondary">Category: {{ product?.category }}</h6>
    </div>
    <hr>
    <button
      class="btn btn-primary w-100"
      *ngIf="inCart; else addToCart"
      routerLink="/cart"
    >
      Go to cart
    </button>
    <ng-template #addToCart>
      <button class="btn btn-primary w-100">{{ "Add to cart " | uppercase }}</button>
    </ng-template>
  </div>
</div>
