<app-modal
  #removeItemConfirmationModal
  title="Remove Item"
  message="Are you sure to remove item from the cart ?"
  (success)="removeCartItem()"
></app-modal>
<div
  class="row px-md-5 px-0 py-2 pb-4 m-3 m-md-0 justify-content-center flex-grow-1 overflow-hidden"
>
  <div class="col-lg-4 col-md-6 row g-2 mt-0 justify-content-center">
    <div
      id="carousel"
      class="carousel slide justify-content-center h-100"
      data-bs-ride="carousel"
      #carousel
    >
      <div class="carousel-indicators">
        <button
          *ngFor="let image of product?.images; let i = index"
          type="button"
          data-bs-target="#carousel"
          [attr.data-bs-slide-to]="i"
          [ngClass]="{ active: i === 0 }"
        ></button>
      </div>
      <div class="carousel-inner carousel-img h-100">
        <div
          *ngFor="let image of product?.images; let i = index"
          class="carousel-item h-100"
          data-bs-interval="2000"
          [ngClass]="{ active: i === 0 }"
        >
          <img [src]="image.src" class="h-100 w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-lg-7 col-md-6 ps-md-5 pt-4 pt-md-0">
    <div class="pt-3 pb-1 fs-2 fw-normal">{{ product?.name }}</div>
    <div class="d-inline-block mb-2">
      <span class="me-2 border-end border-secondary-subtle pe-2 d-inline-block">
        <i
          class="material-icons me-1"
          [ngClass]="
            product?.rating! <= 2.0
              ? 'text-danger'
              : product?.rating! <= 3.0
              ? 'text-warning'
              : 'text-success'
          "
        >
          star
        </i>
        <span>{{ product?.rating | number : "1.1-1" }}</span>
      </span>
      <span class="pe-1">{{ product?.reviews | number }} Reviews</span>
    </div>
    <hr />
    <div class="fs-6 text-secondary py-2">
      Category: {{ product?.category }}
    </div>
    <div>
      <b *ngIf="product?.discount" class="fs-4 me-2">
        ₹{{ product?.price | number }}
      </b>
      <span class="text-secondary align-text-bottom text-success">
        <span class="mx-1">MRP</span><del>{{ product?.mrp }}</del>
        <span class="ms-1 ms-2">{{ product?.discountDisplayLabel }}</span>
      </span>
    </div>
    <form class="my-3" [formGroup]="quantityForm">
      <div class="d-flex align-items-center">
        <span class="me-2 fw-bold text-secondary">Quantity :</span>
        <input
          name="quantity"
          type="number"
          min="0"
          class="form-control w-25 h-25"
          formControlName="quantity"
        />
        <button
          type="button"
          class="btn btn-outline-primary btn-sm py-1 ms-1"
          [disabled]="
            !quantityForm.controls.quantity.valid ||
            cartItem.quantity === quantityForm.value.quantity
          "
          (click)="updateQuantity(quantityForm.value.quantity)"
          *ngIf="cartItem"
        >
          Update
        </button>
      </div>
      <div *ngIf="quantityForm.value.quantity > 100" class="text-danger mt-1">
        Can't addmore than 100 items.
      </div>
      <div *ngIf="quantityForm.value.quantity <= 0" class="text-danger mt-1">
        Quantity count should be positive.
      </div>
    </form>
    <div class="d-flex pb-3">
      <button
        class="btn btn-primary btn-sm w-75 d-flex align-items-center justify-content-center"
        *ngIf="cartItem; else addToCart"
        routerLink="/cart"
      >
        <i class="material-icons text-sm"> shopping_cart </i>
        GO TO CART
      </button>
      <ng-template #addToCart>
        <button
          class="btn btn-primary btn-sm w-75"
          (click)="addItem()"
          [disabled]="!quantityForm.controls.quantity.valid"
        >
          <i class="material-icons">shopping_cart</i>
          ADD TO CART
        </button>
      </ng-template>
      <div class="col-3 ps-2">
        <button
          class="btn btn-outline-danger"
          [disabled]="!cartItem"
          (click)="removeItemConfirmationModal.open()"
        >
          REMOVE
        </button>
      </div>
    </div>
    <hr />
    <div class="my-3 lh-lg">
      100% Original Products<br />
      Pay on delivery might be available<br />
      Easy 14 days returns and exchanges<br />
    </div>
  </div>
</div>
