$carousel-transition-duration: 0.1s;
.card {
  border: none;
  background-color: white;
  cursor: pointer;
  &:hover {
    z-index: 5px;
    box-shadow: 0px 0px 5px #dfdfdf;
    transition: all 100ms;
  }
}
button {
  border-radius: 0px;
}
.card-body {
  padding: 0px;
}
.cart-buttons {
  display: inline-block;
  height: 20px;
  margin: 0px 10px;
}
.card-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cursor-unset {
  cursor: unset;
}
.material-icons {
  font-size: 16px;
  vertical-align: middle;
}
@media (max-width: 576px) {
  :host {
    font-size: 12px;
  }
}
