$carousel-transition-duration:0.1s;
.card {
  border-radius: 0px;
  border: none;
  background-color: white;
  cursor: pointer;
  &:hover {
    z-index: 5px;
    box-shadow: 0px 0px 5px #dfdfdf;
    transition: all 100ms;
  }
}
img{
  height: 100%;
}
button {
  border: none;
  border-radius: 0px;
}
.card-body {
  padding: 0px;
  &:hover {
    box-shadow: 0px 10px rgb(255, 255, 255);
  }
}
.cart-buttons {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 0px 10px;
  // &:hover {
  //   border: 1px solid white;
  // }
}
.card-img {
  border-radius: 0px;
  height: 18rem;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
