<app-modal
  title="Remove Item"
  message="Do you sure to remove the item from cart?"
  [id]="'card-' + product?.skuId"
  (success)="removeCartItem(product?.skuId!)"
>
</app-modal>
<div class="card">
  <div (mouseenter)="showButton = true" (mouseleave)="showButton = false">
    <div
      [id]="'carousel-' + product?.skuId"
      class="carousel slide position-relative"
      data-bs-ride="carousel"
      #carousel
    >
      <div
        class="carousel-inner w-100 h-100"
        [routerLink]="['/product/', product?.skuId]"
      >
        <div
          *ngFor="let image of product?.images"
          class="carousel-item"
          data-bs-interval="500"
          [ngClass]="[image.view === 'search' ? 'active' : '']"
        >
          <img class="card-img" [src]="image?.src" alt="..." />
        </div>
      </div>
      <button
        *ngIf="cartItem"
        style="cursor: unset"
        class="btn btn-primary button w-100 d-flex align-items-center justify-content-center position-absolute bottom-0 left-0 text-white"
      >
        <button
          class="cart-buttons btn p-0 text-white"
          (click)="decrementQuantity()"
          [disabled]="!cartItem.quantity"
        >
          -
        </button>
        <i class="material-icons">shopping_cart</i>
        <span class="ms-1">{{ cartItem.quantity || 0 }}</span>
        <button
          class="cart-buttons btn p-0 text-white"
          (click)="incrementQuantity()"
          [disabled]="cartItem.quantity === 20"
        >
          +
        </button>
      </button>
      <button
        *ngIf="showButton && !cartItem"
        class="btn btn-primary w-100 position-absolute bottom-0 left-0 text-white"
        (click)="addToCart()"
      >
        ADD TO CART
      </button>
    </div>
    <div
      class="card-body px-2 py-2"
      [routerLink]="['/product/', product?.skuId]"
    >
      <div class="card-title">
        <b>{{ product?.brand }}</b>
      </div>
      <div class="card-subtitle mb-1 text-truncate">
        {{ product?.additionalInfo }}
      </div>
      <div class="card-subtitle mb-1">
        <b>₹ {{ product?.price }}</b>
        <span
          *ngIf="product?.discount"
          class="fw-light text-secondary ms-1 text-success"
          [style]="{ 'font-size': '12px' }"
        >
          {{"MRP "}}<del>{{ product?.mrp }}</del>
          <span class="ms-1">{{ product?.discountDisplayLabel }}</span>
        </span>
      </div>
      <div class="d-inline-block">
        <span
          class="me-2 border-end border-secondary-subtle pe-2 d-inline-block"
        >
          <i
            class="material-icons me-1"
            [style]="{ color: getColor(product?.rating!) }"
          >
            star
          </i>
          <span
            ><b>{{ product?.rating | number : "1.1-1" }}</b></span
          >
        </span>
        <span
          ><b class="fs-6">{{ product?.reviews }}</b></span
        >
      </div>
    </div>
  </div>
</div>
