<div>
  <div class="form-check" *ngFor="let option of visibleOptions;">
    <input
      (change)="handleChange($event)"
      class="form-check-input"
      type="checkbox"
      [value]="option"
      [id]="'category-' + option"
      name="category"
      [checked]="checkedOptions?.includes(option)"
    />
    <label class="form-check-label" [for]="'category-' + option">
      {{ option }}
    </label>
  </div>
  <div *ngIf="options.length > optionsLimit && !expanded" class="form-check">
    <span class="text-primary show-more-text" (click)="showAllOption()">
      + {{ options.length - optionsLimit }} more
    </span>
  </div>
</div>
