<div
  class="d-flex justify-content-center align-items-center min-h-100 flex-grow-1 row"
>
  <div class="col-lg-4 col-md-6 col-sm-8 col-10 card p-0">
    <div class="card-header"><div class="fs-3 color-primary">Login</div></div>
    <form class="p-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label class="form-label my-1" for="email">Email</label>
      <input
        class="form-control my-1"
        name="email"
        formControlName="email"
        type="text"
        placeholder="Email"
        [value]="loginForm.controls.email.value"
        (focus)="emailFocus = true"
        (blur)="emailFocus = false"
        (input)="setAuthError('')"
      />
      <div
        *ngIf="
          loginForm.controls.email.invalid &&
          !emailFocus &&
          (loginForm.controls.email.touched || showError)
        "
        class="text-danger my-1"
      >

        {{
          loginForm.controls.email.value === ""
            ? "Please enter your email address."
            : "Email address is not valid."
        }}
      </div>
      <label class="form-label mt-2" for="password">Password</label>
      <input
        class="form-control"
        formControlName="password"
        type="password"
        placeholder="Password"
        [value]="loginForm.controls.password.value"
        (focus)="passwordFocus = true"
        (blur)="passwordFocus = false"
        (input)="setAuthError('')"
      />
      <div
        *ngIf="
          loginForm.controls.password.invalid &&
          !passwordFocus &&
          (loginForm.controls.password.touched || showError)
        "
        class="text-danger"
      >
        {{
          loginForm.controls.password.value === ""
            ? "Please enter your password."
            : "Password must be at least 8 characters long."
        }}
      </div>
      <div *ngIf="authError" class="text-danger pt-3">{{ authError }}</div>
      <button class="btn btn-primary mt-3" type="submit" [disabled]="loading">
        <div
          *ngIf="loading; else submitText"
          class="spinner-border text-light"
          role="status"
        >
          <span class="sr-only"></span>
        </div>
        <ng-template #submitText> Submit </ng-template>
      </button>
    </form>
  </div>
</div>
