<div class="d-flex justify-content-center align-items-center min-h-100 flex-grow-1">
  <div class="w-50 card">
    <div class="card-header"><h3 class="color-primary">Login</h3></div>
    <form class="p-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label class="form-label" for="email">Username</label>
      <input
        class="form-control"
        name="email"
        formControlName="email"
        type="text"
        placeholder="Email..."
      />
      <div
        *ngIf="
          loginForm.controls.email.invalid &&
          (loginForm.controls.email.touched || loginForm.controls.email.dirty)
        "
        class="text-danger"
      >
        Invalid email
      </div>
      <label class="form-label" for="password">Password</label>
      <input
        class="form-control"
        formControlName="password"
        type="password"
        placeholder="Password..."
      />
      <div
        *ngIf="
          loginForm.controls.password.invalid &&
          (loginForm.controls.password.touched ||
            loginForm.controls.password.dirty)
        "
        class="text-danger"
      >
        Password should have min length of 4
      </div>
      <div *ngIf="authError" class="text-danger pt-3">{{ authError }}</div>
      <button
        class="btn btn-primary mt-3"
        type="submit"
        [disabled]="!loginForm.valid || loading"
      >
        <div
          *ngIf="loading; else submitText"
          class="spinner-border text-light"
          role="status"
        >
          <span class="sr-only"></span>
        </div>
        <ng-template #submitText> Submit </ng-template>
      </button>
    </form>
  </div>
</div>
