<div class="row w-100 mx-0 px-sm-2 ps-md-0 px-0">
  <app-filters
    class="col-lg-3 col-md-3 col-sm-12 ps-0"
    [filters]="filters"
    (filterchange)="handleFilterChange($event)"
    [showFilter]="showFilter"
    (showFilterChanged)="setShowFilter($event)"
  ></app-filters>
  <div
    class="col-lg-9 col-md-8 col-sm-12 items-container overflow-y-scroll flex-grow-1 py-3 px-2"
  >
    <div
      class="d-flex align-items-center justify-content-between justify-content-md-end"
    >
      <button
        class="btn btn-outline-primary btn-sm d-md-none d-flex align-items-center"
        (click)="setShowFilter(true)"
      >
        <i class="material-icons filter-icon">filter_alt</i>
        <span class="position-relative pe-1 py-1">
          Filters
          <span
            *ngIf="filtersCount"
            class="filters-badge badge bg-primary rounded-pill"
          >
            {{ filtersCount }}
          </span>
        </span>
      </button>
      <div class="dropdown">
        <button
          class="btn btn-outline-primary dropdown-toggle btn-md-sm px-2"
          data-bs-toggle="dropdown"
        >
          Sort By - {{ sortLabel }}
        </button>
        <ul class="dropdown-menu">
          <li
            *ngFor="let item of sortItems"
            class="dropdown-item"
            (click)="changeSort(item.value)"
          >
            {{ item.label }}
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="products?.length; else noData" class="row">
      <div
        class="col-xl-3 col-lg-4 col-6 gx-3 gy-4"
        *ngFor="let product of products"
      >
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
    <ng-template #noData>
      <div
        class="d-flex align-items-center justify-content-center h-100 flex-column"
      >
        <div class="fs-1 text-primary">No Items available for this search.</div>
        <button class="btn btn-primary" (click)="handleFilterChange({})">
          CLEAR FILTERS
        </button>
      </div>
    </ng-template>
  </div>
</div>
