<div class="row px-0">
  <app-filters
    class="col-lg-2 pe-4"
    [filters]="filters"
    (filterchange)="filterChanged($event)"
  ></app-filters>
  <div class="col-lg-10 row">
    <div class="d-flex align-items-center">
      <!-- <button> Sort By - {{sort}}</button> -->
      <select class="form-select w-25" [value]="sort" (change)="changeSort($event)">
        <option value="featured">Featured</option>
        <option value="price">Price - Low to High</option>
        <option value="-price">Price - High to Low</option>
        <option value="-rating">Customer Rating</option>
      </select>
    </div>
    <div
      class="col-lg-3 col-md-4 col-sm-6 gx-3 gy-4"
      *ngFor="let product of products"
    >
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
