<div class="row">
  <app-filters
    class="col-lg-3 col-md-3 col-sm-12"
    [filters]="filters"
    (filterchange)="filterChanged($event)"
    [showFilter]="showFilter"
    (showFilterChanged)="setShowFilter($event)"
  ></app-filters>
  <div
    class="col-lg-9 col-md-8 col-sm-12 items-container overflow-y-scroll flex-grow-1"
  >
    <div
      class="d-flex align-items-center justify-content-between justify-content-md-end"
    >
      <button
        class="btn btn-outline-primary d-md-none d-flex align-items-center"
        (click)="showFilter = true"
      >
        <i class="material-icons">filter_alt</i> Filters
      </button>
      <div class="dropdown">
        <button
          class="btn btn-outline-primary dropdown-toggle"
          data-bs-toggle="dropdown"
        >
          Sort By - {{ getSortLabel() }}
        </button>
        <ul class="dropdown-menu">
          <li
            *ngFor="let item of sortItems"
            class="dropdown-item"
            (click)="changeSort(item.value)"
          >
            {{ item.label }}
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="products?.length; else noData" class="row">
      <div
        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 gx-3 gy-4"
        *ngFor="let product of products"
      >
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
    <ng-template #noData>
      <div
        class="d-flex align-items-center justify-content-center h-100 flex-column"
      >
        <div class="fs-1 text-primary">No Items available for this search.</div>
        <button class="btn btn-primary" (click)="filterChanged({})">
          Clear Filters
        </button>
      </div>
    </ng-template>
  </div>
</div>
