<app-modal
  [id]="'modal1'"
  title="Remove Item"
  message="Are you sure to remove item from the cart ?"
  (success)="removeCartItem()"
></app-modal>
<app-modal
  #clearCartModal
  [id]="'clear-cart-modal'"
  title="Clear Cart"
  message="Are you sure to remove all items from the cart ?"
  (success)="clearCart()"
></app-modal>
<app-modal
  #placeOrderConfirmation
  [id]="'place-order-confirmation'"
  title="Place Order"
  message="Are you sure to place order ?"
  (success)="placeOrder()"
></app-modal>
<div class="row flex-grow-1" *ngIf="this.items?.length; else noItems">
  <div class="col-lg-8">
    <div class="p-0 card">
      <div class="card-header d-flex justify-content-between">
        <h4>Your Cart</h4>
        <button
          class="btn btn-outline-danger"
          (click)="openClearCartConfirmationModal()"
        >
          Clear cart
        </button>
      </div>
      <div class="card-body p-0">
        <div class="p-3">
          <div
            *ngFor="let item of items; let i = index"
            class="row py-2 align-items-center"
          >
            <div class="col-4 col-sm-3">
              <img
                class="cursor-pointer"
                [src]="item.product.searchImage"
                [routerLink]="['/product', item.id]"
              />
            </div>
            <div class="col-8 col-sm-9 mt-2 mt-md-0">
              <h5 class="text-secondary fs-6">{{ item.product.category }}</h5>
              <h5 class="card-title fs-5">
                {{ item.product.name }}
              </h5>
              <div class="my-2">
                <span class="text-secondary">Quantity:</span>
                {{ item.quantity }}
              </div>
              <div class="my-2">
                <h5 class="fs-6">
                  ₹ {{ item.product.price }}
                  <span class="text-success">{{
                    item.product.discountDisplayLabel
                  }}</span>
                </h5>
              </div>
              <form
                class="d-flex align-items-center my-3 my-2"
                [formGroup]="quantityForms[i]"
              >
                <input
                  name="quantity"
                  type="number"
                  min="0"
                  class="form-control w-25 h-25"
                  formControlName="quantity"
                />
                <button
                  type="button"
                  class="btn btn-outline-primary btn-sm py-1 ms-1"
                  [disabled]="
                    !quantityForms[i].controls.quantity.valid ||
                    item.quantity === quantityForms[i].value.quantity
                  "
                  (click)="
                    updateQuantity(quantityForms[i].value.quantity, item.id)
                  "
                >
                  Update
                </button>
                <button
                  class="btn btn-outline-danger btn-sm ms-1"
                  (click)="openConfirmationModal(item.id)"
                >
                  Remove
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 pt-2 pt-lg-0">
    <div class="p-0 card position-sticky" style="top: 80px">
      <div class="card-header d-flex justify-content-between">
        <h4>Order Summary</h4>
      </div>
      <div class="card-body">
        <div class="py-2">
          <div class="d-flex justify-content-between px-2">
            <h5>Price :</h5>
            <h5>₹{{ itemsTotalPrice }}</h5>
          </div>
          <hr />
        </div>
        <div class="py-2">
          <div class="d-flex justify-content-between px-2">
            <h5>Shipping :</h5>
            <h5>₹{{ deliveryCost }}</h5>
          </div>
          <hr />
        </div>
        <div class="py-2">
          <div class="d-flex justify-content-between px-2">
            <h5>Total Amount :</h5>
            <h5>₹{{ totalCost }}</h5>
          </div>
          <hr />
        </div>
        <button
          class="btn btn-primary w-100 my-2"
          (click)="openPlaceOrderConfirmation()"
        >
          Place Order
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #noItems>
  <div class="flex-grow-1 text-center">
    <div>
      <i class="material-icons text-primary" style="font-size: 10rem">
        shopping_cart
      </i>
      <div class="text-primary fs-3">No items in the cart.</div>
    </div>
    <div class="mt-2">
      <button routerLink="/" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-template>
