img{
  width: 100%;
aspect-ratio: 0.8;
}
hr{
  margin: 0;
}
.cursor-pointer{
  cursor: pointer;
}
label{
  padding: 2rem 3rem;
  border: 1px dashed teal;
  cursor: pointer;
}
::-webkit-file-upload-button {
  display: none;
}
.file-input{
  width: 100px;
}
